# Application
APP_ENV=dev
APP_SECRET=CHANGE_ME

# Base de données
DATABASE_URL=mysql://root:MOT_DE_PASSE@127.0.0.1:3306/crm_ecommerce

# Mailer SMTP
MAILER_DSN=smtp://UTILISATEUR_SMTP:MOT_DE_PASSE@SERVEUR_SMTP:PORT